
 /* GLOBAL */
* {
    box-sizing: border-box; /*corrgir padrão do navegadores de acrescenta ao tamanho, exemplo 
    coloco o widith de 100% e defino lá para o form um tamnho de 17px, então ele acrescentaria 100% + 17px, com essa propriedade esse comportamento é corrigido */
}

html, body {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #000000cc;
}

/* ESTRUTURA */
header, main, footer{
    text-align: center;
}


header, .form, main {
    margin: 0 auto 70px;
    width: 90%;
    max-width: 500px;
}

header h1, main h2 {
    margin-bottom: 70px;
}

main h2 span{
    color: #ff4f4f;
    
}

/* HEADER */
header button {
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
}

.logo{
    width: 120px;
    margin: 70px 0;
}

/* FORMÚLARIO */
section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;
    background-color: #ff4f4f;
    padding: 16px 64px;   
    border-radius: 6px;
}

.form h2 {
    text-align: right;
    color: #ffffff;
    font-size: 18px;
}

form input,
form button {
    border: 1px #ffffff88 solid;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
}

form input {
    background-color: transparent;
}

form input::placeholder {
    color: #ffffffaa;

}

form button {
    font-weight: bold;
}

/* DOADORES */

main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}

.donor p {
    margin-top: 24px;
    font-size: 14px;
} 



/* RODAPÉ */

footer {
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
}

/* Funcionalidades com JS */
section.form {
    transition: all 300ms;
}

section.form.hide {
    display: none;
}